# Zig API
ZIG_API_TOKEN=cole_sua_chave_aqui
ZIG_REDE=brewteco
ZIG_BASE_URL=https://api.zigcore.com.br/integration
LOJAS_JSON=lojas.json

# Dashboard ZigPay, usado somente pelo script Playwright
ZIG_ORG=brewteco
ZIG_USER=seu_usuario
ZIG_PASSWORD=sua_senha
DASHBOARD_URL=https://dashboard.zigpay.com.br
HEADLESS=false

# Google Sheets
GOOGLE_CREDENTIALS_JSON=C:\caminho\para\service-account.json
GOOGLE_SHEET_ID=id_da_planilha

# Abas da planilha
ABA_CADASTRO=CADASTRO
ABA_PRECOS=TABELA DE PREÇO
ABA_RELATORIO=RELATORIO API

# Gerador de produtos novos/existentes
PRODUCT_SOURCE_XLSX=C:\Users\ONZE COPOS\Desktop\SELENIUM\files\SUBIRPRODUTOS.xlsx
PRODUCT_EXPORT_DIR=EXPORTACOES_ZIGPAY
